USER_DB_PASSWORD=localdevpassword
INVENTORY_DB_PASSWORD=postgres
INVENTORY_DB_USER=postgres
INVENTORY_DB_NAME=inventorydb
JWT_SECRET=your-secret-here
SEED_ADMIN_EMAIL=admin@mail.com
SEED_ADMIN_PASSWORD=admin1234
