USER_DB_PASSWORD=localdevpassword
ORDER_DB_PASSWORD=localdevpassword
JWT_SECRET=your-secret-here
SEED_ADMIN_EMAIL=admin@mail.com
SEED_ADMIN_PASSWORD=admin1234
PAYMENT_DB_PASSWORD=paymentdb
MQ_USER=mq_user
MQ_PASSWORD=mq_password
MQ_VHOST=mq_vhost
PAYMENT_SERVICE_PORT=8001
MQ_URL=amqp://${MQ_USER}:${MQ_PASSWORD}@localhost:5672/${MQ_VHOST}

# Order Service
ORDER_SERVICE_PORT=8083
ORDER_SERVICE_HOST=localhost
ORDER_DB_HOST=localhost
ORDER_DB_PORT=5434
ORDER_DB_USER=postgres
ORDER_DB_PASSWORD=localdevpassword
ORDER_DB_NAME=orderdb
ORDER_DB_SSLMODE=disable
ORDER_TIMEOUT_MINUTES=15


# Payment Service
PAYMENT_SERVICE_PORT=8085
PAYMENT_DB_PASSWORD=paymentdb
PAYMENT_DB_PORT=5435
PAYMENT_DB_USER=postgres
PAYMENT_DB_NAME=paymentdb

# Catalog Service
CATALOG_SERVICE_PORT=8082
CATALOG_DB_PASSWORD=localdevpassword
CATALOG_DB_PORT=5436
CATALOG_DB_USER=postgres
CATALOG_DB_NAME=catalogdb

